.wrapper {
  text-align: center;
  padding: 15px;
  position: relative;
}

.wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.5);
}

.wrapper p,
.wrapper h1 {
  position: relative;
  z-index: 44;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin: 50px 0;

}

.card {
  position: relative;
  z-index: 53;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  text-align: left;
  border-radius: 5px;
}

.card .card__top {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: bold;
  font-size: 130%;
  color: var(--secondary);
  /* margin: 10px 0; */
  margin-bottom: 10px;
}

@media (max-width: 960px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
}

@media (max-width: 720px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
}
